<div>
  <div>
    <h1>
      Sign Up
    </h1>
  </div>
</div>

<hr>

<div>
  <div>

    <form action="/insert_sign_up" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="task_id_box">
          Task
        </label>

        <input type="text" id="task_id_box" name="query_task_id">
      </div>

      <button>
        Create sign up
      </button>
    </form>
  </div>
</div>

<hr>
