<div>
  <div>
    <h1>
      Events
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Name
        </th>

        <th>
          # of Tasks to Complete
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_events.each do |an_event| %>
      <tr>

        <td>
          <%= an_event.name %>
        </td>

        <td>
          <%= an_event.tasks_count %>
        </td>

        <td>
          <a href="/events/<%= an_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<hr>

<div>
  <div>
    <h4>
      Add a new event
    </h4>

    <form action="/insert_event" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create event
      </button>
    </form>
  </div>
</div>
